#Minecraft server properties
spawn-protection={{ SPAWN_PROTECTION }}
max-tick-time={{ MAX_TICK_TIME }}
generator-settings={{ GENERATOR_SETTINGS }}
force-gamemode={{ FORCE_GAMEMODE }}
allow-nether={{ ALLOW_NETHER }}
enforce-whitelist={{ ENFORCE_WHITELIST }}
gamemode={{ GAMEMODE }}
broadcast-console-to-ops={{ BROADCAST_CONSOLE_TO_OPS }}
enable-query={{ ENABLE_QUERY }}
player-idle-timeout={{ PLAYER_IDLE_TIMEOUT }}
difficulty={{ DIFFICULTY }}
spawn-monsters={{ SPAWN_MONSTERS }}
op-permission-level={{ OP_PERMISSION_LEVEL }}
pvp={{ PVP }}
snooper-enabled={{ SNOOPER_ENABLED }}
level-type={{ LEVEL_TYPE }}
hardcore={{ HARDCORE }}
enable-command-block={{ ENABLE_COMMAND_BLOCK }}
max-players={{ MAX_PLAYERS }}
network-compression-threshold={{ NETWORK_COMPRESSION_THRESHOLD }}
resource-pack-sha1={{ RESOURCE_PACK_SHA1 }}
max-world-size={{ MAX_WORLD_SIZE }}
server-port={{ SERVER_PORT }}
server-ip={{ SERVER_IP }}
spawn-npcs={{ SPAWN_NPCS }}
allow-flight={{ ALLOW_FLIGHT }}
level-name=world
view-distance={{ VIEW_DISTANCE }}
hellworld={{ HELLWORLD }}
resource-pack={{ RESOURCE_PACK }}
spawn-animals={{ SPAWN_ANIMALS }}
white-list={{ WHITE_LIST }}
generate-structures={{ GENERATE_STRUCTURES }}
online-mode={{ ONLINE_MODE }}
max-build-height={{ MAX_BUILD_HEIGHT }}
level-seed={{ LEVEL_SEED }}
prevent-proxy-connections={{ PREVENT_PROXY_CONNECTIONS }}
use-native-transport={{ USE_NATIVE_TRANSPORT }}
enable-rcon={{ ENABLE_RCON }}
rcon.password={{ RCON_PASSWORD }}
rcon.port={{ RCON_PORT }}
motd=world
